<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}{{burg_name}}{{else}}{{burg_name}}{{/if}}
	</button>

	<button class="delete-bruger" data-id="{{this.id}}">DELETE!</button>
</li>
